@layer components {
  .wysiwyg {
    h1 {
      font-size: var(--text-2xl--line-height);
      font-weight: var(--font-weight-semibold);
      color: var(--color-gray-950);
    }

    h2 {
      font-size: var(--text-xl);
      font-weight: var(--font-weight-semibold);
      color: var(--color-gray-950);
    }

    p {
      font-size: var(--text-base);
      color: var(--color-gray-700);
    }
  }
}
