<nav class='main-menu' role='navigation' aria-label='Main menu'>
  <ul>
    {% assign items = 'theme,images,icons' | split: ',' %}
    {% for item in items %}
      <li>
        <a href='/docs/{{ item }}.html'>{{ item }}</a>
      </li>
    {% endfor %}
    <li>
      <div class='toggle'>
        <input class='toggle__control' type='checkbox' name='color-scheme' id='color-scheme'>
        <label class='toggle__label' for='color-scheme'> Toggle light / dark mode </label>
      </div>
    </li>
    <li>
      <a href='https://github.com/actarian/wsdev' title='WsDev'>
        {{ 'github' | icon }}
      </a>
    </li>
  </ul>
</nav>
