<div id="lazy-component" class="guide" data-lazy-component>
  <div class="container">
    <div class="guide__title">I'm a lazy loaded component</div>
    <div class="guide__abstract"></div>
  </div>
</div>
