{% layout './templates/layouts/layout.liquid' %}

{% block main %}

<main>
  {% include "./templates/components/hero/hero.liquid", item: page } %}
  {% include './templates/components/components.liquid' %}
</main>

{% endblock %}
