{% set content_options = {
title: title,
text: abstract,
heading: 'h2',
type: 'xl',
typeText: 'xl'
}%}

<section class="text-only py-80">
  <div class="container">
    {% include '@components/base/content/content.twig' with content_options only %}
  </div>
</section>
