{% extends '/templates/layouts/layout.twig' %}

{% block head %}
<link rel="stylesheet" href="/docs/theme.scss">
<script type="module" src="/docs/theme.js"></script>
{% endblock %}

{% block body_class %}theme{% endblock %}

{% block main %}
<main>

  <section class="hero py-80">
    <div class="container">
      <h1 class="display20 fw-700">ws-app</h1>
      <div class="display40">
        a reactive component library by Websolute
      </div>
    </div>
  </section>

  <div class="docs">
    <div class="docs__inner container-fluid">
      <div class="docs__aside">
        <nav class="docs__nav">
          {% include '/docs/app/menu.twig' %}
        </nav>
      </div>
      <div class="docs__content">
        {% include '/docs/app/components.twig' %}
      </div>
    </div>
  </div>

</main>
{% endblock %}
