<section class="py-80 my-lazy" data-module="my-lazy.module">
  <div class="container my-lazy__container">
    <h1 class="display20 fw-700">{{item.title}}</h1>
    <div class="display40">{{item.abstract}}</div>
  </div>
</section>
