<div id="data-html" class="guide">
  <div class="container">
    <div class="guide__title">data-html</div>
    <div class="guide__abstract">The data-html attribute evaluate an expression in the innerHTML property of the html element.</div>
    <div>Input</div>
    <code data-text="`<div data-html='item.title'>`"></code>
    <div>Output</div>
    <code data-text="`<div>${item.title}</div>`"></code>
    <div>Item</div>
    <code data-text="item | json"></code>
    <button type="button" class="guide__btn" data-event="randomize">randomize</button>
  </div>
</div>
