<footer class="footer py-10">
  <div class="container mx-auto px-3">
    <div class="flex items-center justify-between [&>svg]:w-[85px] [&>svg]:h-4">
      <span>&copy; {{ "now" | date("Y") }} - v%WS_VITE%</span>
      {{icon('websolute')}}
    </div>
  </div>
</footer>
