{% extends '/templates/layouts/layout.twig' %}

{% block head %}
<link rel="stylesheet" href="/docs/theme.scss">
{% endblock %}

{% block main %}

<main>

  <section class="hero py-80">
    <div class="container">
      <h1 class="display20 fw-700">Images</h1>
      <div class="display40">
        High performance image processing with ♯ <a class="link" href="https://sharp.pixelplumbing.com/" target="_blank" title="Sharp.js">Sharp.js</a>.
      </div>
    </div>
  </section>

  {# images #}
  <section class="theme py-64">
    <div class="container">
      <div class="theme__variants">
        <div class="theme__variant">
          <div class="theme__title">
            <p>Use namespace <em>/@image:</em> to initiate image processing.</p>
            <p>The default output format is <em>.webp</em>, you can change it with <em>f</em> parameter.</p>
          </div>
          <div class="theme__name">/@image:/assets/img/mountains-01.jpg?w=1920&h=540&f=jpg</div>
        </div>
      </div>
    </div>
    <picture class="theme__picture">
      <img loading="lazy" src="/@image:/assets/img/mountains-01.jpg?w=1920&h=540" width="1920" height="540" alt="Picture" />
    </picture>
    <div class="container">
      <div class="theme__variants">
        <div class="theme__variant">
          <div class="theme__title">
            <p>You can build the url manually or use the <em>image</em> template helper</p>
            <p>
              Available helper parameters are <em>src</em>, <em>width</em>, <em>height</em>, <em>format</em>,
              <em>loading</em>, <em>alt</em>.
            </p>
            <p>The default loading method is <em>lazy</em>.</p>
          </div>
          <code>&#123;&#123;image(&#123; src: '/assets/img/mountains-01.jpg', width: 1440, height: 540 &#125;)&#125;&#125;</code>
          <div class="theme__name">/@image:/assets/img/mountains-01.jpg?w=1440&h=540</div>
          <picture class="theme__picture">
            {{image({ src: '/assets/img/mountains-01.jpg', width: 1440, height: 540 })}}
          </picture>
        </div>
        <div class="theme__variant">
          <div class="theme__title">
            <p>You can use a <em>srcset</em> array with the helper to generate a list of srcset images.</p>
          </div>
          <code>&#123;&#123;image(&#123; src: '/assets/img/mountains-02.jpg', srcset: [810, 1080, 1440] &#125;)&#125;&#125;</code>
          <div class="theme__name">srcset</div>
          <picture class="theme__picture">
            {{image({ src: '/assets/img/mountains-02.jpg', srcset: [810, 1080, 1440] })}}
          </picture>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="theme__variants">
        <div class="theme__variant">
          <div class="theme__title">
            <p>You can use the wildcard <em>placehold</em> to generate image placeholder.</p>
            <p>An image placeholder appear also if source image is missing.</p>
          </div>
          <div class="theme__name">/@image:placehold?w=1440&h=540</div>
          <picture class="theme__picture">
            <img loading="lazy" src="/@image:placehold?w=1440&h=540" width="1440" height="540" alt="Picture" />
          </picture>
          <div class="theme__name">/@image:placehold?w=1080&h=540</div>
          <picture class="theme__picture">
            {{image({ width: 1080, height: 540 })}}
          </picture>
        </div>
      </div>
    </div>
  </section>
</main>

{% endblock %}
