<div id="modals" class="guide">
  <div class="container">
    <div class="guide__title">modals</div>
    <button type="button" class="guide__btn" data-event="modal">open modal</button>
  </div>
</div>
