{% extends 'layouts/layout.twig' %}

{% block main %}

{% set hero_options = {
title: page.title,
abstract: page.abstract,
heading: 'h1'
} %}

<main>
  {% include '@components/layout/hero/hero.twig' with hero_options only %}
  {% include '@components/components.twig' %}
</main>

{% endblock %}
