<div id="data-text" class="guide">
  <div class="container">
    <div class="guide__title">data-text</div>
    <div class="guide__abstract">The data-text attribute evaluate an expression in the innerText property of the html element.</div>
    <div>Input</div>
    <code data-text="`<div data-text='item.title'>`"></code>
    <div>Output</div>
    <code data-text="`<div>${item.title}</div>`"></code>
    <div>Item</div>
    <code data-text="item | json"></code>
    <button type="button" class="guide__btn" data-event="randomize">randomize</button>
  </div>
</div>
