<nav class="main-menu" role="navigation" aria-label="Main menu">
  <ul>
    {% for item in ['theme', 'images', 'icons'] %}
    <li><a href="%BASE_URL%docs/{{item}}.html">{{item}}</a></li>
    {% endfor %}
    <li>
      {% include '@components/toggle/toggle.twig' with { id: 'color-scheme', title: 'Toggle light / dark mode' } %}
    </li>
    <li>
      <a href='https://github.com/websolutespa/wsdev' title='WsDev'>
        {% include "@components/icon/icon.twig" with {
          name: 'github'
        } %}
      </a>
    </li>
  </ul>
</nav>
