<div class='card'>
  <div class='card__picture'>
    <img loading='lazy' src='/@image:/placehold?w=800&h=800' width='800' height='800' alt='Picture'>
    <!--
      <img
        loading='lazy'
        src='https://placehold.jp/345199/3a63be/800x800.png?text=placehold%20800x800'
        width='800'
        height='800'
        alt='Picture'
      >
    -->
  </div>
</div>
