{% if page.components %}
  <div class='components'>
    {% for component in page.components %}
      {% include './{{component.schema}}.liquid', item: component } %}
    {% endfor %}
  </div>
{% endif %}
