<section class='listing py-80'>
  <div class='container'>
    <div class='grid'>
      {% for i in (0..11) %}
        {% assign m3 = i | modulo: 3 %}
        {% assign m5 = i | modulo: 5 %}
        {% if m3 == 0 %}
          {% if m5 < 2 %}
            <div class='grid-sm-6'>
              {% include './listing-item.liquid' %}
            </div>
          {% else %}
            <div class='grid-sm-4'>
              {% include './listing-item.liquid' %}
            </div>
          {% endif %}
        {% else %}
          {% if m5 < 2 %}
            <div class='grid-6 grid-sm-6'>
              {% include './listing-item.liquid' %}
            </div>
          {% else %}
            <div class='grid-6 grid-sm-4'>
              {% include './listing-item.liquid' %}
            </div>
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
