.btn {
  text-decoration: underline;
}

.link {
  text-decoration: underline;
  color: var(--color-primary-500);
}

.cta {
  position: relative;
  display: inline-flex;
  place-content: center;
  padding: 0.2em 2em;
  border: 2px solid currentColor;
  outline: 1px solid transparent;
  outline-offset: 0;
  border-radius: 6px;
  transition: ease-in-out 100ms;
  transition-property: outline-color, outline-offset;
  font-size: 2em;
  line-height: 1.25;
  cursor: pointer;

  &:hover {
    outline-color: currentColor;
    outline-offset: 3px;
  }
}
