<div id="lazy-module" class="guide" data-lazy-module>
  <div class="container" data-lazy-module-component>
    <div class="guide__title">I'm a lazy loaded module</div>
    <div class="guide__abstract"></div>
  </div>
</div>
