<footer class="footer py-40">
  <div class="container-fluid">
    <div class="flex">
      <span>&copy; {{ "now" | date("Y") }} - v%WS_VITE%</span>
      {{icon('websolute')}}
    </div>
  </div>
</footer>
