@import '~@websolutespa/ws-vite/scss/mixins.scss';

// utils
@include breakpoint();
// shows current breakpoint (optional: comment to remove)

@include container();
@include grid();
@include padding();
@include margin();
@include typography();
@include lenis();

@import 'common';
@import 'forms';

// components
@import '../templates/components/components';
@import '../templates/components/footer/footer';
@import '../templates/components/header/header';
@import '../templates/components/hero/hero';
@import '../templates/components/listing-item/listing-item';
@import '../templates/components/listing/listing';
@import '../templates/components/main-menu/main-menu';
@import '../templates/components/text-only/text-only';
@import '../templates/components/toggle/toggle';

// docs
@import '../docs/app';

/*
:root {
  --bg: red;
}

@media (min-width: 300px) {
  :root {
    --bg: blue;
  }
}

@media (min-width: 600px) {
  :root {
    --bg: green;
  }
}
*/

body {
  background: var(--bg);
}
