@function breakpoint-next($name, $breakpoint: $breakpoint) {
  $keys: map-keys($breakpoint);
  $n: index($keys, $name);
  @return if($n !=null and $n < length($keys), nth($keys, $n + 1), null);
}

@function breakpoint-min($name, $breakpoint: $breakpoint) {
  $min: map-get($breakpoint, $name);
  @return if($min !=0, $min, null);
}

@function breakpoint-max($name, $breakpoint: $breakpoint) {
  $next: breakpoint-next($name, $breakpoint);
  @return if($next, breakpoint-min($next, $breakpoint) - .02, null);
}

@function breakpoint-infix($name, $breakpoint: $breakpoint) {
  @return if(breakpoint-min($name, $breakpoint)==null, "", "-#{$name}");
}

@mixin media-up($name, $breakpoint: $breakpoint) {
  $min: breakpoint-min($name, $breakpoint);

  @if $min {
    @media (min-width: $min) {
      @content;
    }
  }

  @else {
    @content;
  }
}

@mixin media-down($name, $breakpoint: $breakpoint) {
  $max: breakpoint-max($name, $breakpoint);

  @if $max {
    @media (max-width: $max) {
      @content;
    }
  }

  @else {
    @content;
  }
}

@mixin media-between($lower, $upper, $breakpoint: $breakpoint) {
  $min: breakpoint-min($lower, $breakpoint);
  $max: breakpoint-max($upper, $breakpoint);

  @if $min !=null and $max !=null {
    @media (min-width: $min) and (max-width: $max) {
      @content;
    }
  }

  @else if $max==null {
    @include media-up($lower, $breakpoint) {
      @content;
    }
  }

  @else if $min==null {
    @include media-down($upper, $breakpoint) {
      @content;
    }
  }
}

@mixin media-only($name, $breakpoint: $breakpoint) {
  $min: breakpoint-min($name, $breakpoint);
  $max: breakpoint-max($name, $breakpoint);

  @if $min !=null and $max !=null {
    @media (min-width: $min) and (max-width: $max) {
      @content;
    }
  }

  @else if $max==null {
    @include media-up($name, $breakpoint) {
      @content;
    }
  }

  @else if $min==null {
    @include media-down($name, $breakpoint) {
      @content;
    }
  }
}

@mixin breakpoint() {
  html {
    &:after {
      content: var(--breakpoint, '~');
      display: block;
      position: fixed;
      right: 6px;
      bottom: 8px;
      padding: 3px 6px;
      border-radius: 2px;
      border: 1px solid var(--color-warning-600, #D9AC00);
      background: var(--color-warning-500, #fdce00);
      color: var(--color-warning-900, #795900);
      font-family: monospace;
      font-size: 10px;
      line-height: 1;
      z-index: 100000000;
    }
  }
}
