{% set components = page.components %}
{% if components %}
<div class="components">
  {% for component in components %}
  {% include '@components/blocks/' ~ component.schema ~ '/' ~ component.schema ~ '.twig' with component only %}
  {% endfor %}
</div>
{% endif %}
