<header class="sticky top-0 py-10 border-b border-[rgba(128,128,128,0.2)] bg-[rgba(0,0,0,0.1)] backdrop-blur-2xl z-100">
  <div class="container mx-auto">
    <div class="flex justify-between">
      <a class="flex [&>svg]:size-9" href="%BASE_URL%" title="Home">
        {{icon('webhook')}}
      </a>
      {% include '../../components/main-menu/main-menu.twig' %}
    </div>
  </div>
</header>
