<header class="header py-40">
  <div class="container-fluid">
    <div class="flex">
      <a href="%BASE_URL%" title="Home">
        {% include '@components/base/icon/icon.twig' with { name: 'webhook' } %}
      </a>
      {% include '@components/layout/main-menu/main-menu.twig' %}
    </div>
  </div>
</header>
