.toggle {
  --size: 70;

  position: relative;
  display: inline-block;
  font-size: calc(var(--size) / 100 * 1px);

  &__control {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
  }

  &__label {
    position: relative;
    display: inline-block;
    width: 60em;
    height: 30em;
    border-radius: 40em;
    border: 3em solid currentColor;
    background: transparent;
    transition: transform .3s ease;
    transform-origin: 20% center;
    cursor: pointer;

    span {
      font-size: 0;
    }

    &:before {
      content: '';
      position: absolute;
      display: block;
      width: 20em;
      height: 20em;
      top: 2em;
      left: 3em;
      border-radius: 10em;
      border: 3em solid currentColor;
      background: currentColor;
      transition: all .2s ease;
      transition: .3s ease;
    }
  }

  .toggle__control:checked+.toggle__label:before {
    transform: translateX(29em);
  }

}
